/* General styles for the HomePage */
.homepage {
  padding: 20px;
}

/* Hero Section Styles */
.hero {
  width: 100%;
  margin-bottom: 30px;
}

.hero h1 {
  text-align: center;
  margin-bottom: 20px;
}
.slider-img{
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-dots li.slick-active button:before {
  color: #046bd1; 
  font-size: 12px;
}
.slick-dots li button:before {
  color: #333;
  font-size: 10px;
}
/* Vision and Mission Section Styles */
.vision-mission {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.vision,
.mission {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.vision h3,
.mission h3 {
  margin-top: 10px;
  color: #007bff;
}

.vision p,
.mission p {
  line-height: 1.6;
}

/* Courses Section Styles */
.courses {
  text-align: center;
}

.courses h2 {
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-item {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  text-align: left;
}

.course-item h3 {
  margin-top: 10px;
  color: #007bff;
}

.course-item ul {
  list-style: disc;
  padding-left: 20px;
}

.course-item li {
  margin-bottom: 5px;
}
/*Responsive*/
@media(max-width:768px){
  .slider-img{
    height:300px;
  }
}
@media (max-width: 480px) {
  .vision-mission {
    flex-direction: column;
  }

  .vision,
  .mission {
    min-width: 100%;
  }

  .course-item {
    min-width: 100%;
  }
  .slider-img{
    height:200px;
  }
}
